body{
    margin: 0;
    opacity: 0.2;
    transition: 1s;
}
/*header*/

header{
    width: 100%;
    box-shadow: 0 0 5px;
    height: 70px;
}
header div{
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    text-align: center;
}
header button{
    background: transparent;
    color: DimGray;
    outline: none;
    border: none;
    margin: auto;
    width: 110px;
    font-size: 120%;
    font-weight: lighter;
    height: inherit;
    transition: 0.2s;
}
header button:hover{
    opacity: 0.5;
    cursor: pointer;
}
#mn{ transform: scale(1.4); }

/*main*/

main{
    width: 100%;
}
main #loader{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 50px;
    height: 50px;
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #f1c195;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
main audio{
    display: none;
}
@media screen and (min-width:769px){
    /*main*/

    main #back{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        margin-top: 1%;
    }
    main #back > button{
        background: transparent;
        color: DimGray;
        outline: none;
        font-size: 115%;
        border-radius: 20px;
        border: solid 1px #ff7b00;
        padding: 1%;
        vertical-align: middle;
        cursor: pointer;
        transition: 0.2s;
    }
    main #back > button:hover{ opacity: 0.5; }
    main #user{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        margin-top: 2%;
        display: flex;
        cursor: pointer;
    }
    main #user > img { width: 5vh; height: 5vh; vertical-align: middle; border-radius: 50%;}
    main #user > p{
        color: DimGray;
        font-size: 115%;
        vertical-align: middle;
        margin: auto;
    }
    main #panelMsgs{
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        width: 60%;
        height: 70vh;
        max-height: 70vh;
        border-top: solid 1px rgb(0,0,0, 0.2);
        border-bottom: solid 1px rgb(0,0,0, 0.2);
        border-radius: 5px;
        overflow-y: auto;
        overflow-x: hidden;
        text-align: left;
    }
    main #panelMsgs > div{
        width: 50%;
        border-radius: 15px;
        border: solid 1px rgb(255, 123, 0);
        margin-top: 1%;
        padding: 1%;
        white-space: normal;
        color: dimgray;
        font-style: italic;
    }
    main #controls{
        width: 60%;
        margin-left: auto; margin-right: auto; margin-top: 1%;
    }
    main #controls > textarea{
        width: 50%;
        border-radius: 20px; border: solid 1px rgb(0,0,0, 0.2);
        background: transparent;
        outline: none;
        font-size: 115%;
        padding-left: 2%;
        resize: none; vertical-align: middle;
    }
    main #controls > textarea:focus{ border: solid 1px #f1c195; color: DimGray;}
    main #controls > img{
        width: 5%; vertical-align: middle;
    }
    main #controls > button{
        background: transparent;
        color: DimGray;
        outline: none;
        font-size: 115%;
        border-radius: 20px;
        border: solid 1px #ff7b00;
        padding: 1%;
        vertical-align: middle;
        margin-left: calc(39% - 117px);
        transition: 0.2s;
        font-style: italic;
    }
    main #controls > button:hover, main #controls > img:hover{
        opacity: 0.5;
        cursor: pointer;
    }

    /*footer*/

    footer{
        margin-top: 1%;
        width: 100%;
        box-shadow: 0 0 5px;
        text-align: center;
    }
    footer img{
        width: 7%;
        transition: 1s;
    }
    footer img:hover{
        transform: rotate(360deg);
    }
    footer #about{
        color: DimGray;
        margin-bottom: 0;
        font-size: 120%;
        cursor: pointer;
    }
    footer #about:hover{ opacity: 0.5; }
    footer p {
        margin-bottom: 0;
    }
}

@media screen and (max-device-width:480px) and (orientation: portrait){
    /*main*/

    main #back{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 1%;
    }
    main #back > button{
        background: transparent;
        color: DimGray;
        outline: none;
        font-size: 115%;
        border-radius: 20px;
        border: solid 1px #ff7b00;
        padding: 1%;
        vertical-align: middle;
        cursor: pointer;
        transition: 0.2s;
        margin-left: 1%;
        font-style: italic;
    }
    main #back > button:hover{ opacity: 0.5; }
    main #user{
        margin-left: auto;
        margin-right: auto;
        width: 98%;
        margin-top: 2%;
        display: flex;
    }
    main #user > img { width: 10vh; height: 10vh; vertical-align: middle; border-radius: 50%;}
    main #user > p{
        color: DimGray;
        font-size: 115%;
        vertical-align: middle;
        margin: auto;
    }
    main #panelMsgs{
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        width: 98%;
        height: 70vh;
        max-height: 70vh;
        border-top: solid 1px rgb(0,0,0, 0.2);
        border-bottom: solid 1px rgb(0,0,0, 0.2);
        border-radius: 5px;
        overflow-y: auto;
        overflow-x: hidden;
        text-align: left;
    }
    main #panelMsgs > div{
        width: 50%;
        border-radius: 15px;
        border: solid 1px rgb(255, 123, 0);
        margin-top: 1%;
        padding: 1%;
        white-space: normal;
        color: dimgray;
        font-style: italic;
    }
    main #controls{
        width: 98%;
        margin-left: auto; margin-right: auto; margin-top: 1%;
    }
    main #controls > textarea{
        width: 49%;
        border-radius: 20px; border: solid 1px rgb(0,0,0, 0.2);
        background: transparent;
        outline: none;
        font-size: 115%;
        padding-left: 2%;
        resize: none; vertical-align: middle;
    }
    main #controls > textarea:focus{ border: solid 1px #f1c195; color: DimGray;}
    main #controls > img{
        width: 7%; vertical-align: middle;
    }
    main #controls > button{
        background: transparent;
        color: DimGray;
        outline: none;
        font-size: 115%;
        border-radius: 20px;
        border: solid 1px #ff7b00;
        padding: 1%;
        vertical-align: middle;
        margin-left: calc(39% - 117px);
        transition: 0.2s;
        font-style: italic;
    }
    main #controls > button:hover, main #controls > img:hover{
        opacity: 0.5;
        cursor: pointer;
    }

    /*footer*/

    footer{
        margin-top: 3%;
        width: 100%;
        box-shadow: 0 0 5px;
        text-align: center;
    }
    footer img{
        width: 17%;
        transition: 1s;
    }
    footer img:hover{
        transform: rotate(360deg);
    }
    footer #about{
        color: DimGray;
        margin-bottom: 0;
        font-size: 120%;
        cursor: pointer;
    }
    footer #about:hover{ opacity: 0.5; }
    footer p {
        margin-bottom: 0;
    }
}